NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BRAND_NAME=APIAIBazaar
NEXT_PUBLIC_SUPPORT_EMAIL=support@example.com
NEXT_PUBLIC_SUPPORT_PHONE=0900 000 0000
NEXT_PUBLIC_SUPPORT_TELEGRAM=https://t.me/example
NEXT_PUBLIC_INSTAGRAM=https://instagram.com/example

CONTENTFUL_SPACE_ID=replace_with_contentful_space_id
CONTENTFUL_DELIVERY_TOKEN=replace_with_contentful_delivery_token
CONTENTFUL_ENVIRONMENT=master

NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_ENABLE_REAL_COMMERCE=false

PAYMENT_PROVIDER=zibal
PAYMENT_API_KEY=replace_me_later

SMS_PROVIDER=kavenegar
SMS_API_KEY=replace_me_later
SMS_TEMPLATE_LOGIN_OTP=replace_me_later
